.hidden{
    display: none;
}
/* #region default */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
button{
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}
/* #endregion default */
/* #region common */
.container {
    max-width: 320px;
    padding:0 16px;
    margin: 0 auto;
}
/* Block page scroll */
body:has(.backdrop.is-open) {
    overflow: hidden;
}
@media only screen and (min-width:768px){
.container {
        max-width: 768px;
}
}
@media only screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
            padding:0 15px;
    }
}
/* #endregion common */
/* #region header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav,
.contakts{
    display: none;
}
.logo {
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-dark {
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.17;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.burger-btn{
    border:none;
    padding:0;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill:#2f2f37;
}
@media only screen and (min-width:768px) {
.burger-btn{
    display: none;
    }
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
 }
.page-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    list-style-type: none;
   }
.menu {
    display: flex;
    align-items: center;
    }
.link {
    display: block;
    padding: 24px 0;
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.link.current {
    position: relative;
    }
    
.link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    }
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
    }
.contakts {
    font-style: normal;
    display: block;
    }
.address {
    display: flex;
    flex-direction: column;
    gap: 12px;
        }
.address-link {
    display: block;
    color: #434455;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
.address-link:hover,
.address-link:focus,
.link.current {
    color: #404BBF;
}
}
@media only screen and (min-width:1158px) {
.header-logo {
    margin-right: 76px;
    }
.address {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    }
.address-link { 
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    }
                /* modal menu */
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);     
                                }
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    }
.mobile-menu-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 72px 16px 40px;
    }
.mobile-menu-btn {
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
.mobile-menu-nav {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: auto;
    }
.mobile-menu-nav .mobile-menu-item:first-child .link-mob{
    color:#404BBF;
    }
.mobile-menu-nav .mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
    }
.link-mob{
    color:#2E2F42; 
    }
.address-mob{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
 } 
 .address-mob .mob-menu-item:not(:last-child){
    margin-bottom: 24px;
 }
 
.address-link-mob{
    color:#434455;
    font-style:normal ;
 }
.address-mob .mob-menu-item:first-child .address-link-mob{
    color: #4D5AE5;
        }
.social-list-mob{
    display: flex;
    justify-content: center;
    gap: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-top: 8px; */
}
.social-item{
     width: 40px; 
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    list-style-type: none;
    }
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
        .contakts-mobile{
            margin-bottom: 48px;
        }
 
         @media only screen and (min-width:768px) {
.mobile-menu{
    display: none;
    }
    }
                                                                
                /* #endregion header */

/* #region Hero First section */
.main-container {
    max-width: 1440px; 
    /* text-align: center; */
}
 .main-title {
    padding: 72px 0px;
    margin: 0 auto;
     background-color: #2E2F42;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/hero_section/hero_image_mob.jpg);
    max-width: 320px;
 background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .title {
     color: #FFFFFF;
     font-weight: 700;
     font-size: 36px;
     max-width: 216px;
     line-height: 1.11;
     text-align: center;
     letter-spacing: 0.02em;
     margin: 0 auto;
     margin-bottom: 72px;
    }
    .button {
        background-color: #4D5AE5;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        padding: 16px 32px;
        border-radius: 4px;
        display: block;
        min-width: 169px;
        max-height: 56px;
        margin: 0 auto;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button:hover,
    .button:focus {
        background-color: #404BBF;
        color: #FFFFFF;
    }
    @media (min-resolution: 192dpi) {
   .main-title {
           background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
               url(../images/hero_section/hero_image_mob@2x.jpg);
           }}

 @media only screen and (min-width:768px){
    .main-title{
        padding: 112px 0;
    }
    .title{
        max-width: 496px;
                font-weight: 700;
                font-size: 56px;
    }
.main-title {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero_section/hero_image_tabl.jpg);
             max-width: 768px; ;
    }}
  @media (min-resolution: 192dpi) {
      .main-title {
        
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
              url(../images/hero_section/hero_image_tabl@2x.jpg);
      }
    }
    
    
    @media only screen and (min-width:1158px) {
        .main-title{
            padding: 188px 0;
            background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero_section/hero_image_desc.jpg);
            max-width: 1440px;
        }
        .title {
            font-size: 56px;
            font-weight: bold;
            line-height: 1.07;
            max-width: 768px;
            margin-bottom: 36px;}
        .main-container {
            max-width: 1440px;
                }
@media (min-resolution: 192dpi) {
    .hero-container {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero_section/hero_image_desc@2x.jpg)}
}
.title{
    margin-bottom: 48px;
}
 }

 /* #endregion Hero section*/

 /*#region benefits*/
 .section-benefits {
     padding: 96px 0;
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 .benefits-icon{
    display: none;
 }
 .benefits {
     color: #434455;
     text-decoration: none;
     list-style-type: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 72px;
 }
 .sub-subtitle.benef{
    margin-bottom: 8px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
 }
 .benef {
margin-bottom: 8px;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}
.paragrapf-first{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.li-benefits{
    width: 100%;
}
.benefits-wraper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
   @media only screen and (min-width:768px) {
    .benefits-wraper{
        flex-direction: row;
        flex-wrap: wrap;
        gap:72px 24px;
    }
    .li-benefits {
        width: calc((100% - 24px * 1) / 2);
    }
.benefits {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: stretch;
   }
   .sub-subtitle.benef {
       text-align: left;}}

@media only screen and (min-width:1158px) {
    .section-benefits {
            padding: 120px 0;}
    .benefits-icon {
     display: flex;
    }
        .benefits-wraper {
            width: 264px;
            height: 112px;
            margin-bottom: 8px;
            background-color: rgba(244, 244, 253, 1);
            border: 1px solid #8e8f99;
            justify-content: center;
            border-radius: 4px;
        }
.benefits {
    flex-wrap: nowrap;
}
 .sub-subtitle.benef {
     font-weight: 500;
     font-size: 20px;
}}
/* #endregion benefits */

/* #region Our team */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}
.sub-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.list-team {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:72px;
    align-items: center;
}
.team-card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    max-width: 264px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
            0 1px 1px rgba(46, 47, 66, 0.16),
            0 1px 6px rgba(46, 47, 66, 0.08)
}
.team-container {
    box-sizing: border-box;
    padding: 32px 0;
    text-align: center;
} 
.sub-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.paragraph {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.social-icon-group {
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 8px;
}
.social-list {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    list-style-type: none;
}
.social-icon {
    width: 16px;
    height: 16px;
    display: block;
    fill: #f4f4fd
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

@media only screen and (min-width:768px) {
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
    }
.list-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap:64px 24px;
    justify-content: center;
    }
.team-card {
    width: calc((100% - 24px * 1) / 2);
        } }

 @media only screen and (min-width:1158px){
.team {
    padding: 120px 0;
}
.team-card {
    width: calc((100% - 24px * 3) / 4);
    /* transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .team-card:hover,
.team-card:focus{
box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08)
} */
 }
 /* #endregion Our team */

 /* #region Portfolio */
 .portfolio {
    padding: 96px 0;
 }
 .sub-title-porfolio {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
 }
 .ul-portfolio {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
 }
 .container-li-portfolio {
    box-sizing: border-box;
    align-items: center;
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
 }
 .sub-subtitle-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
 }
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    color: rgba(244, 244, 253, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    background-color: rgba(77, 90, 229, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .li-portfolio {
     /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    cursor: pointer;}
 .li-portfolio:hover .overlay {
    transform: translateY(0%);}
.li-portfolio 
{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
         }
.portfolio-wraper {
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
@media only screen and (min-width:768px) {
.ul-portfolio {
    gap:72px 24px;
                    }
.li-portfolio {
width: calc((100% - 24px * 1) / 2);
                }
            }
@media only screen and (min-width:1158px){
.portfolio {
    padding: 120px 0;
}

.li-portfolio {
    width: calc((100% - 24px * 2) / 3);
        }
.ul-portfolio {
     gap:48px 24px;
    }
.li-portfolio{
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-portfolio:hover,
.li-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}
    }

        /* #endregion Portfolio */

/* #region Footer */
.footer {
    background-color: #2E2F42;
    padding: 96px 0px;
    margin: 0 auto;
    text-align: center;
        }

.footer-left {
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
     }
.footer-logo {
    display: block;
    margin-bottom: 16px;
 text-align: center; 
        } 

.logo-light {
    color: #F4F4FD;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.paragraph-footer {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 288px;
    margin: 0 auto;
    text-align: left;
}
.social-icon-groupss {
    display: flex;
    gap: 16px;
}
.all-footer,
.footer-social{
    margin-bottom: 72px;
}
.subscribe-icon {
    margin-left: 16px;
    fill: rgba(255, 255, 255, 1);
}
.text-subscribe {
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-form-input::placeholder {
    color #ffffff;}
.button-subscribe {
    min-width: 165px;
    height: 40px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
    padding: 8px 24px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.footer-info {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        }
.footer-form-input {
    margin-bottom: 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 288px;
    height: 40px;
    color: #ffffff;
    outline: transparent;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width:768px) and (max-width:1157px){
    
    .footer{
        text-align: left;
        padding: 96px 0px;
    }
    .footer-logo{
        text-align: left;
    }
   .footer-left {
       padding: 0 16px;
       display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 72px 24px;
    max-width: 768px;
    margin: 0 auto;
}
.footer-form-input {
    width: 264px;}
.all-footer,
.footer-social {
    margin-bottom: 0;}

.subsct-contain {
    align-items: flex-start;
    text-align: left;
    gap: 16px;
         }

.footer-form {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: flex-start;
             gap: 24px;
         }
         .footer-form-input {
             width: 264px;
             margin: 0;
         }
    
         .button-subscribe {
             margin: 0;
             height: 40px;
             display: flex;
             align-items: center;
             justify-content: center;
         }
                 .footer-form-input:hover,
                 .footer-form-input:focus {
                     border-color: #31d0aa;
                 }
                 .social-link.green:hover,
                 .social-link.green:focus {
                     background-color: #31d0aa;
                 }
        
                 .social-link.green {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                     width: 40px;
                     height: 40px;
                     border-radius: 50%;
                     background-color: rgba(77, 90, 229, 1);
                 }
.button-subscribe:hover,
                                 .button-subscribe:focus {
                                     background-color: #31d0aa;
                                 }
                                                                 .footer-form-input:hover,
                                                                 .footer-form-input:focus {
                                                                     border-color: #31d0aa;
                                                                 } 
         }
 @media only screen and (min-width:1158px){
   
.all-footer,
    .footer-social {
        margin-bottom: 0px;
    } .footer {
            background-color: #2E2F42;
            padding: 100px 0;
            text-align: left;
             
        }
        .footer-form-input:hover,
        .footer-form-input:focus {
            border-color: #31d0aa;
        }
        .footer-left {
            display: flex;
            align-items: baseline;
            margin: 0 auto;
             max-width: 1158px;
            padding-left: 15px;
                padding-right: 15px;
                margin: 0 auto;  
        }
    
        .logo-light {
            color: #F4F4FD;
            font-size: 18px;
            line-height: 1.17;
    
        }
    
        .paragraph-footer {
            color: #F4F4FD;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            width: 264px;
        }
    
        .footer-cont {
            width: 264px;
            padding-top: 100px;
            padding-bottom: 100px;
            margin-left: 120px;
        }
    
        .footer-logo {
            margin-bottom: 16px;
            display: inline-block;
        }
    
        .footer-info {
            font-size: 16px;
            font-weight: 500;
            color: #FFFFFF;
            margin-bottom: 16px;
            align-content: left;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    
        .footer-social {
            margin-left: 0px;
            margin-right: 80px;
            padding: 0px;
        }
    
        .all-footer {
            margin-right: 120px;
        }
        .footer-form-input {
            margin-bottom: 0px;
        }
        .social-icon-groupss {
            display: flex;
            gap: 16px;
        }
    
        .social-link.green:hover,
        .social-link.green:focus {
            background-color: #31d0aa;
        }
    
        .social-link.green {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(77, 90, 229, 1);
            }
    
        /* Subscribe */
        .subsct-contain {
            margin-left: auto;
        }
    
        .footer-form {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 24px;
        }
    
        .button-subscribe {
            min-width: 165px;
            height: 40px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            background-color: #4D5AE5;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            font-family: "Roboto", sans-serif;
            align-items: center;
            padding: 8px 24px;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
         .button-subscribe:hover,
        .button-subscribe:focus {
            background-color: #31d0aa;
        }
    
        .subscribe-icon {
            margin-left: 16px;
            fill: rgba(255, 255, 255, 1);
        }
    
        .footer-form-input {
            line-height: 2;
            letter-spacing: 0.04em;
            padding-left: 16px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            width: 264px;
            height: 40px;
            color: #ffffff;
            /* padding: 14px 24px; */
            color: #ffffff;
            outline: transparent;
            border-radius: 4px;
            font-size: 12px;
            border: 1px solid #ffffff;
            background-color: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        /* .text-subscribe {
            font-weight: 500;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em; */
        }

    /* #endregion footer */

        /* region Modal */
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-caption {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 16px;
            font-weight: 500;
            text-align: center;
        }
    
    
        .backdrop.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 72px 24px 24px;
            width: 288px; 
            /* width: 408px;
            min-height: 584px; */
            background-color: #FCFCFC;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transform: translate(-50%, -50%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    @media only screen and (min-width: 768px){
        .modal{
            width: 408px;
    }}
        .backdrop:not(.is-open) .modal {
            transform: translate(-50%, -50%) scale(1.5);
        }
    
        .modal-btn {
            position: absolute;
            cursor: pointer;
            top: 24px;
            right: 24px;
            border-radius: 50%;
            width: 24px;
            ;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background-color: #E7E9FC;
            border: 1px solid rgba(0, 0, 0, 0.1);
            ;
            transition:
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .modal-btn:hover,
        .modal-btn:focus {
            background-color: rgba(64, 75, 191, 1);
            fill: rgba(255, 255, 255, 1);
            border: none;
        }
    
        .modal-btn-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            stroke-width: 1px;
            stroke: rgba(46, 47, 66, 1);
        }
    
        .modal-form-icon {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            fill: rgba(46, 47, 66, 1);
            transition:
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        .modal-form-message {
            width: 100%;
            max-width: 100%;
            resize: none;
            border-radius: 4px;
            min-height: 120px;
            background-color: transparent;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            /* padding: 22px 24px; */
            border: 1px solid rgba(46, 47, 66, 0.4);
            font-size: 12px;
            padding: 8px 16px;
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-form-message:hover,
        .modal-form-message:focus {
            border-color: rgba(77, 90, 229, 1);
        }
    
        .modal-form-field.comment {
            margin-bottom: 16px;
        }
    
        .modal {
            min-height: 584px;
            padding-left: 24px;
            padding-right: 24px;
        }
    
        .modal-form-input {
            display: block;
            background-color: transparent;
            width: 100%;
            height: 40px;
            padding-left: 38px;
            /* position: absolute; */
            /* top: 50%; */
            /* transform: translateY(-50%); */
            border-radius: 4px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .modal-form-wrapper {
            position: relative;
        }
    
        .modal-form-input:hover,
        .modal-form-input:focus {
            border-color: rgba(77, 90, 229, 1);
        }
    
        .modal-form-input:hover+.modal-form-icon,
        .modal-form-input:focus+.modal-form-icon {
            fill: rgba(77, 90, 229, 1);
        }
    
        .modal-form-field {
            margin-bottom: 8px;
        }
    
        .modal-form-label {
            display: block;
            margin-bottom: 4px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
        }
    
        .btn-accent {
            transition:
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        /* region Checkbox */
        .form-agreement {
            margin-bottom: 24px;
        }
    
        .agreement-checkbox {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            fill: transparent;
            height: 16px;
            border-radius: 2px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            /* transition-property: border-color, background-color; */
            margin-right: 8px;
        }
    
        input[type='checkbox']:checked+.agreement-wrapper>.agreement-checkbox {
            border: none;
            fill: #F4F4FD;
            background-color: rgba(64, 75, 191, 1);
            border-color: rgba(64, 75, 191, 1);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    
        .accent-text {
            color: #4D5AE5;
        }
    
        .agreement-wrapper {
            color: #8E8F99;
            letter-spacing: 0.04em;
            line-height: 1.5;
            font-size: 12px;
            line-height: 1.17;
        }
    
        .agreement-link {
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }
    
        .btn-accent {
            background-color: #4D5AE5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .btn-accent:hover,
        .btn-accent:focus {
            background-color: #404BBF;
        }
    
        /* endregion Checkbox */
        /* endregion Modal */