.hidden{
    display: none;
}
/* #region default */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
button{
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}
/* #endregion default */
/* #region common */
.container {
    max-width: 320px;
    padding:0 16px;
    margin: 0 auto;
}
@media only screen and (min-width:768px){
.container {
        max-width: 768px;
}
}
@media only screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
            padding:0 15px;
    }
}
/* #endregion common */
/* #region header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-nav,
.contakts{
    display: none;
}
.logo {
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-dark {
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.17;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.burger-btn{
    border:none;
    padding:0;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill:#2f2f37;
}
@media only screen and (min-width:768px) {
    .burger-btn{
        display: none;
    }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
 }
   .page-nav {
       display: flex;
       align-items: center;
       gap: 40px;
       letter-spacing: 0.02em;
       color: #2E2F42;
       font-size: 16px;
       line-height: 1.5;
       text-decoration: none;
       list-style-type: none;
   }
   .menu {
       display: flex;
       align-items: center;
    }
    .link {
        display: block;
        padding: 24px 0;
        color: #2E2F42;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .link.current {
        position: relative;
    }
    
    .link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }
    .page-nav .link:hover,
    .page-nav .link:focus {
        color: #404BBF;
    }
    .contakts {
        font-style: normal;
        display: block;
    }
     .address {
         display: flex;
         flex-direction: column;
        gap: 12px;
        }
    .address-link {
         display: block;
        color: #434455;
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
         letter-spacing: 0.04em;
         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
    .address-link:hover,
     .address-link:focus,
     .link.current {
     color: #404BBF;
                }
            }
@media only screen and (min-width:1158px) {
    .header-logo {
    margin-right: 76px;
        }
     .address {
        flex-direction: row;
                    align-items: center;
                    gap: 40px;
                }
  .address-link { 
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
                                }
                             }
     /* modal menu */
           .mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
 visibility: hidden;
 pointer-events: none;
 transform: translateX(100%);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
 visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);     
                                }
     .mobile-menu.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }
    .mobile-menu-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 72px 16px 40px;
    }
    .mobile-menu-btn {
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
        .mobile-menu-nav {
            font-size: 36px;
            line-height: 1.11;
            font-weight: 700;
            letter-spacing: 0.02em;
            margin-bottom: auto;
        }
    .mobile-menu-nav .mobile-menu-item:not(:last-child){
            margin-bottom: 40px;
        }
    .link-mob{
    color:#2E2F42; 
    }
.address-mob{
margin-bottom: 48px;
font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
 } 
 .address-mob .mob-menu-item:not(:last-child){
    margin-bottom: 24px;
 }
 
 .address-link-mob{
  color:#434455;
  font-style:normal ;
 }
        .address-mob .mob-menu-item:first-child .address-link-mob{
            color: #4D5AE5;
        }
/* .link-mob{
     color: #2E2F42;    */
     /* font-style: normal; 
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        }
    }

     */
                     @media only screen and (min-width:768px) {
                    .mobile-menu{
                display: none;
                }
                }
                                                                
                /* #endregion header */